.heading {
    font-family: Avenir, serif;
    font-size: 30px;
    padding: 20px 30px;
    font-weight: 500;
    color: #808080;
    text-align: left;
}

.nav-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.routing {
    padding: 20px 30px;
}
